<html ng-app="app">
  <head>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"
    ></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <h1>Hello world</h1>

    <div ng-controller="MainController1">
      {{val}}
    </div>

    <div ng-controller="MainController">
      {{greeting}} {{name()}}

      <div>
        {{isButtonClicked ? 'Button is clicked' : 'Button is not clicked'}}
      </div>
      <button ng-click="handleClick()">Click me!</button>

      <hr />

      <div>{{val}}</div>
      <button ng-click="increment()">Increment</button>
      <div ng-show="isEven">Value is even</div>
      <div ng-hide="isEven">Value is odd</div>
    </div>
  </body>
</html>
